<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Speech_Analitics_App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD4A53911E68A54E006DE9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4A53A51E68A54E006DE9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4A53B01E68A54E006DE9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
